@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    color: #EAEBED;
}

p{
}

#intro{
    text-decoration:underline green;
    
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    min-width: 100%;
    box-shadow: 0px 5px 3px;
}

body{
    margin-top: 60px;
    font-family: 'Inconsolata', sans-serif;
    background-color: #2b2b30;
}

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #EAEBED;
    text-decoration: none;
}

.menu a:hover{
    color: green;
}

#logo{
    width: 4%;
    height: 4%;
    margin-left: 1%;
}

#intro{
    text-align: center;
}

#about{
    align-content: center;
    margin: 4%;
}

#about h2{
    margin-bottom: 2%;
    text-align: center;
    color: #EAEBED;
}

#img-about{
    height: 15%;
    width: 15%;
    margin: 10px;
}

.container-about{
    flex-direction: row;
    display: flex;
    
    align-items: center;
    background-color: black;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 50px 50px;
    box-shadow: 5px 5px 10px green;
    margin-bottom: 5%;
}

.container-tecnologias{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 50px 50px;
    box-shadow: 5px 5px 10px green;
    margin-bottom: 5%;
    
}

.tecnologias{
    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3%;
}

.container-tecnologias h3{
    color: #EAEBED;
    border-top: none;
    border-bottom: solid green;
    margin-top: 1%;
}

.quiensoy{
    color: #EAEBED;
    /*border: 2px solid rgb(1, 92, 1);*/
    
}

.quiensoy p{
    margin-right: 4%;
    margin-bottom: 1%;
}

.logos{
    /*width: 70%;
    height: 70%;*/
    width: 100px;
    height: 100px;
    margin-right: 40px;
    margin-bottom: 40%;
}

.logos:hover{
    box-shadow: 0px 5px 10px green;
    transform: translate(0px,-5px);
    -webkit-transform: translate(0px,-5px);
    -moz-transform:translate(0px,-5px);
}

#projects h2{
    margin-bottom: 2%;
    text-align: center;
    color: #EAEBED;
}

#projects{
    align-content: center;
    margin: 4%;
}

#contacto h2{
    margin-bottom: 2%;
    text-align: center;
    color: #EAEBED;
}

form {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
}

label {
    display: block;
    margin-top: 10px;
    color: #EAEBED;
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-left: 41.5%;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 200px;
}