@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{    
    font-family: 'Inconsolata', sans-serif;
    background-color: #2b2b30;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    margin-bottom: 300px;
    height: 20%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: black;
    align-items: center;
    border-bottom: solid green;
    height: 55%;
    font-size: 125%;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #EAEBED;
    text-decoration: none;
}

.menu a:hover{
    color: green;
}

#logo{
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

#inicio{
    display: flex;
    justify-content: center;
    color: #EAEBED;
    height: 100vh;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 5px 10px green;
}

h1{ 
    position: absolute;
    text-align: center;
    margin-top: 50vh;
    white-space: nowrap;
    animation: typing 10s steps(49), blink .5s, infinite step-end alternate;
    -webkit-animation: typing 10s steps(49), blink .5s, infinite step-end alternate;
    overflow: hidden;
}
h1 span{
    position: absolute;
    align-self: center;
    right: 0;
    width: 0;
    background-color: black;
    border-left: 1px solid green;
    animation: maquina 3s  steps(49), blink .5s infinite step-end alternate 3s;
    
}

@keyframes maquina{
    from{
        width: 100%;
    }
}

@keyframes blink{
    50%{border-color: transparent;}
}

h2{
    margin-bottom: 2%;
    color: #EAEBED;
    margin-top: 2%;
}

#flecha{
    position: relative;
    background-color: green;
    border-radius: 50%;
    height: 8%;
    width: auto;
    top: 80%;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

#about{
    align-content: center;
    margin: 4%;
}

#about h2{
    margin-bottom: 2%;
    text-align: center;
    color: #EAEBED;
}

#img-about{
    height: 15%;
    width: 15%;
    margin: 10px;
    min-height: 170px;
    min-width: 170px;
}

.container-about{
    flex-direction: row;
    display: flex;
    
    align-items: center;
    background-color: black;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 50px 50px;
    box-shadow: 5px 5px 10px green;
    margin-bottom: 7%;
}

.container-about a{
    height: 40%;
    width: 40%;
    margin: 10px;
}

.quiensoy{
    color: #EAEBED;
}

.quiensoy p{
    margin-right: 4%;
    margin-bottom: 1%;
}

.container-tecnologias{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 50px 50px;
    box-shadow: 5px 5px 10px green;
    margin-bottom: 7%;
    
}

.tecnologias{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3%;
}

.container-tecnologias h3{
    color: #EAEBED;
    border-top: none;
    border-bottom: solid green;
    margin-top: 1%;
}

.logos{
    width: 100px;
    height: 100px;
    margin-right: 40px;
    margin-bottom: 40%;
}

.logos:hover,.logos-social:hover{
    box-shadow: 0px 5px 10px green;
    transform: translate(0px,-5px);
    -webkit-transform: translate(0px,-5px);
    -moz-transform:translate(0px,-5px);
}

.img-project{
    
    min-height: 104px;
    min-width: 170px;
    max-width: 170px;
    max-height: 104px;
    background-color: white;
}

#projects h2{
    margin-bottom: 2%;
    text-align: center;
    color: #EAEBED;
}

#projects{
    align-content: center;
    margin: 4%;
}

#finaldesc{
    text-align: center;
}

#contact h2{
    margin-bottom: 2%;
    margin-top: -2%;
    text-align: center;
    color: #EAEBED;
}

form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: black;
    box-shadow: 0px 5px 5px green;
    padding: 2%;
}

label {
    display: block;
    margin-top: 10px;
    color: #EAEBED;
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-left: 41.5%;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    display: flex;
    width: 100vw;
    flex-direction: row;
    background-color: black;
    align-items: center;
    border-top: solid green;
    
}

#copy{
    width: 50%;
}

#copy p{
    color: #EAEBED;
    text-align: center;
}

#media{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.iconos-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    
}

.logos-social{
    width: 20px;
    height: 20px;
    
    margin-bottom: 40%;
    
}

#media h2{
    text-align: center;
    margin-bottom: 2%;
    
    color: #EAEBED;
}


@media screen and (max-width: 800px){
    h1{
        font-size: x-large;
    }
    .container-about{
        flex-direction: column;
        text-align: center;
    }
    .container-about p{
        margin-left: 2%;
    }
    #media h2{
        font-size: x-large;
    }
}

@media screen and (max-width: 620px){
    h1{
        font-size: large;
    }
    #flecha{
        height: 6%;
    }
    .logos{
        width: 60px;
        height: 60px;
    }
    #media h2{
        font-size: larger;
    }
}

@media screen and (max-width: 450px){
    h1{
        font-size: medium;
    }
    .navBar{
        font-size: 100%;
        height: 50%;
    }
    #logo{
        width: 45px;
        height: 45px;
    }
    .logos{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 400px){
    h1{
        font-size: small;
    }
    
}